services:
  clickhouse:
    image: clickhouse/clickhouse-server:latest
    container_name: clickhouse
    restart: unless-stopped
    ports:
      - "18123:8123"
      # - "19000:9000"
    volumes:
      - clickhouse_data:/var/lib/clickhouse
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    cap_add:
      - SYS_NICE
    environment:
      # берём из .env в едином стиле CH_*
      CLICKHOUSE_DB: ${CH_DATABASE:-media_intel}
      CLICKHOUSE_USER: ${CH_USER:-admin}
      # важно: переменная внутри контейнера остаётся CLICKHOUSE_PASSWORD,
      # но значение берём из CH_PASSWORD, чтобы compose не требовал CLICKHOUSE_PASSWORD
      CLICKHOUSE_PASSWORD: ${CH_PASSWORD:?set CH_PASSWORD in .env}
      CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT: "1"

  minio:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z
    container_name: minio
    restart: unless-stopped
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD:?set MINIO_ROOT_PASSWORD in .env}
    volumes:
      - minio_data:/data

volumes:
  minio_data:
  clickhouse_data: